<% if vacation_period %>
  <div class="mb-6 p-4 bg-yellow-100 rounded-md shadow-md">
    <p class="text-base font-medium text-gray-800">
      <%= vacation_period[:message] %>
    </p>
  </div>
<% end %>
