<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  <% events.each do |event| %>
    <%= link_to event_path(event), class: "block" do %>
      <div class="bg-white rounded-lg shadow p-4">
        <h2 class="font-bold text-xl mb-2"><%= event.title %></h2>
        <div class="text-sm text-gray-500">
          <p>開始: <%= mdwhm(event.start_at) %></p>
          <p>会場: <%= event.venue %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
