<div class="mb-4">
  <%= link_to("これから開催", events_path, class: "text-blue-500") %>
  |
  <%= link_to("開催済み", events_in_past_path, class: "text-blue-500") %>
</div>

<p>
  <%= link_to("イベントを登録する", new_event_path, class: "fixed bottom-4 right-4 bg-rose-500 text-lg font-bold text-white px-6 py-4 rounded-md cursor-pointer") %>
</p>
