<% content_for(:title) { "イベント一覧" } %>

<h2 class="text-2xl font-bold mb-4">
  イベント一覧
</h2>

<p>
  <%= link_to("イベントを登録する", new_event_path, class: "fixed bottom-4 right-4 bg-rose-500 text-lg font-bold text-white px-6 py-4 rounded-md cursor-pointer") %>
</p>

<div class="mb-24">
  <%= render(partial: "events/cards", locals: { events: @events }) %>
</div>
