<div class="max-w-7xl mx-auto pb-4">
  <div class="mb-8 sm:mb-12">
    <h3 class="text-xl font-bold text-gray-900 mb-3 sm:mb-4">
      メモを追加
    </h3>
    <%= render "form", school_memo: @school_memo, submit_text: "メモを追加" %>
  </div>
</div>
