<h2>
  メニュー
</h2>
<ul>
  <li>
    <%= link_to("マイページ", me_path) %>
  </li>
  <li>
    <%= link_to("みんなのスケジュール", schedules_path) %>
  </li>
</ul>
<h2>
  メンバーズ
</h2>
<ul class="members-list">
  <% Member.order(id: :desc).each do |member| %>
  <li>
    <%= image_tag(member.icon_url, class: "member-icon", size: "32x32") %>
    <span><%= member.name %></span>
  </li>
  <% end %>
</ul>
