<h2 class="text-2xl font-bold mb-4">
  メニュー
</h2>
<ul class="mb-6">
  <% @menu_items.each do |menu_item| %>
  <li class="mb-2">
    <%= link_to(menu_item[:text], menu_item[:path], class: "inline-block w-full bg-white p-4 rounded-md shadow-md") %>
  </li>
  <% end %>
</ul>
<h2 class="text-2xl font-bold mb-4">
  メンバーズ
</h2>
<ul class="flex flex-wrap gap-4">
  <% Member.order(id: :desc).each do |member| %>
  <li class="flex items-center space-x-2">
    <%= link_to(member, class: "flex items-center space-x-2") do %>
      <%= image_tag(member.icon_url, size: "32x32", class: "rounded-full") %>
      <span class="font-bold"><%= member.name %></span>
    <% end %>
  </li>
  <% end %>
</ul>
