<%# Non-link tag that stands for skipped pages...
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    size:          number of page links to show
    gap:           number of page links to skip
-%>
<span class="inline-flex items-center border-t-2 border-transparent px-4 py-2 text-sm font-medium text-gray-500">
  ...
</span>
