/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  background-color: #1E6897;
}

.container {
  max-width: 560px;
  margin: 0 auto;
  padding: 0 20px 20px;
  background-color: #fff;
}

.clickable {
  cursor: pointer;
}

.member-icon {
  border-radius: 50%;
}

.member-you {
  height: 32px;

  span {
    display: inline-block;
    line-height: 32px;
    margin-left: 4px;
    vertical-align: top;
  }
}

.members-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    height: 32px;

    span {
      display: inline-block;
      line-height: 32px;
      margin-left: 4px;
      vertical-align: top;
    }
  }
}

.schedules {
  position: relative;
  width: 100%;
  padding-bottom: 60px;

  form {
    input[type="submit"] {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 15px 0;
      border: 0;
      font-size: 20px;
      background-color: #ffba5a;
      color: #fff;
      cursor: pointer;
    }
  }
}

.schedule-form {
  margin-bottom: 10px;

  .schedule-date-and-status {
    margin-bottom: 4px;
    text-align: center;

    .date, .status-selection {
      display: inline-block;
      height: 32px;
      line-height: 32px;
      vertical-align: middle;
    }

    .date {
      width: 160px;
      font-size: 20px;
      font-weight: bold;
      color: #1e6897;
    }

    .status-selection {
      img {
        opacity: 0.3;
        padding: 0 5px;
      }

      img.selected {
        opacity: 1;
      }
    }
  }

  .schedule-memo {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
  }
}

.schedules-in-day {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    height: 32px;
    margin-bottom: 4px;

    span {
      display: inline-block;
      line-height: 32px;
      vertical-align: top;
    }

    .member-name {
      width: 130px;
      margin-left: 4px;
    }
  }

  li.schedule-ng {
    opacity: 0.3;
  }
}
