<% content_for(:title) { "過去のイベント一覧" } %>

<h2 class="text-2xl font-bold mb-4">
  過去のイベント一覧
</h2>

<%= render(partial: "events/nav") %>

<div class="mb-24">
  <%= render(partial: "events/cards", locals: { events: @events }) %>
</div>
