<nav class="fixed bottom-0 inset-x-0 md:hidden z-40 bg-white border-t border-neutral-200 print:hidden">
  <ul class="flex justify-around items-center h-16">
    <% bottom_nav_items.each do |item| %>
      <li class="flex-1">
        <% active = current_nav_item?(item[:path]) %>
        <%= link_to item[:path], class: "flex flex-col items-center justify-center gap-1 py-2 #{active ? 'text-rose-500' : 'text-neutral-400 hover:text-neutral-600'}" do %>
          <%= icon(item[:icon], css_class: "size-5") %>
          <span class="text-[10px] font-medium"><%= item[:label] %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
