<% if logged_in? %>
  <div class="member-you">
    <%= image_tag(current_member.icon_url, class: "member-icon", size: "32x32") %>
    <span><%= current_member.name %> としてログイン中</span>
  </div>
  <div>
    <%= link_to "ログアウト", session_path, data: { turbo_method: :delete } %>
  </div>
<% end %>
