<% if logged_in? %>
  <div class="flex items-center space-x-2">
    <%= link_to("ログアウト", session_path, data: { turbo_method: :delete }, class: "text-indigo-600 hover:text-indigo-700") %>
    <%= link_to(current_member) do %>
      <%= image_tag(current_member.icon_url, class: "member-icon w-8 h-8 rounded-full", size: "32x32") %>
    <% end %>
  </div>
<% end %>
